/* =-=-= Pour l'ensemble des objets de la page =-=-= */

/* import de la police de caractère du titre de la page */
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* a {
	text-decoration: none;
	display: block;
	font-weight: normal;
	color: #eee;
} */

/* =-=-= Pour le corps =-=-= */

body {
	margin: 0;
	/* pas de marge */
	min-height: 100vh;
	/* si le contenu (1 seul article par exemple) est plus petit que l'écran, le body est fixé à la taille de l'écran */
	display: flex;
	/* On active flex sur le corps de la page */
	flex-direction: column;
	/* disposition verticale : le header d'abord (car en premier dans l'html), puis les autres éléments en dessous */
	background-color: #efe6dd;
	/* couleur pour le fond de la page */
	color: #181818;
	/* couleur par défaut du texte de la page */
	font-family: 'Calibri', sans-serif;
	/* polica par défaut du texte de la page */
}

/* =-=-= Pour le titre =-=-= */

header {
	background-color: #1abc9c;
	/* couleur pour le fond du titre */
	color: #ecf0f1;
	/* couleur du titre */
	text-align: center;
	/* titre centré */
	padding: 1em;
	/* marge intérieur du titre */
}

header>a {
	text-decoration: none;
	color: #eee;
}

header>a #logo {
	/* le logo directement enfant de header */
	margin: 0;
	/* pas de marge */
	display: flex;
	/* On active flex sur le corps de la page */
	flex-direction: row;
	/* disposition horizontale */
	align-items: flex-end;
	/* on positionne en  bas */
}

header>a #logo h1 {
	margin-left: 0.5em;
	font-family: 'Kaushan Script', cursive;
	font-size: 2.5em;
}

header>h2 {
	/* le titre h2 directement enfant de header */
	margin-top: 0.25em;
	display: flex;
	/* On active flex sur le corps de la page */
	flex-direction: row;
	/* disposition horizontale */
	text-align: left;
	font-size: 1.5em;
}

/* =-=-= Pour le corps =-=-= */

#contenu_principal {
	display: flex;
	/* de nouveau on active flex pour le menu et les articles */
	flex-direction: row;
	/* disposition horizontal : le menu à droite, puis les autres éléments en gauche (ordre de la page) */
	justify-content: space-between;
	/* les items sont répartis de manière égale sur la ligne ; le premier est au début de la ligne, le dernier est à la fin */
}

#contenu_principal>nav {
	/* le nav directement enfant de contenu_principal */
	order: -1;
	/* permet de garantir que le menu soit en premier même si le nav n'est pas en premier dans l'ordre de décalration du html   */
	flex: 0 0 10vw;
	/* le menu a une largeur fixe de 10% de la largeur de la page */
	min-width: 12em;
	color: #ecf0f1;
	background-color: #2980b9;
	margin: 1em;
	padding: 1em;
	border: 2px solid white;
	/* bordure */
	border-radius: 5px;
	/* bordure arrondie */
	box-shadow: 10px 10px 5px 0px #656565;
	/* bordure avec ombre */
}

#contenu_principal>nav h2 {
	padding: 0.1em 0.4em 0.1em 0.4em;
	color: #638edd;
	background-color: #EFEFF1;
	text-align: right;
}

#contenu_principal>nav ul {
	line-height: 1.5em;
}

#contenu_principal>nav li {
	font-size: 0.9em;
}

#contenu_principal>nav li a {
	text-decoration: none;
	display: block;
	padding: 0.1em 0.2em 0.1em 0.2em;
	font-weight: normal;
	color: #eee;
}

#contenu_principal>nav li a:hover {
	padding: 0.1em 0.2em 0.1em 0.2em;
	color: #1a1a1a;
	background-color: #EFEFF1;
	border-right: 8px solid #adadad;
}

#contenu_principal>nav li.selected {
	padding: 0.1em 0.2em 0.1em 0.2em;
	color: black;
	background-color: white;
	border-right: 8px solid #bee3ba;
}

#contenu_principal>section {
	padding: 1em;
	/* marge intérieure */
	display: flex;
	/* La section des articles est aussi en flex */
	flex-direction: column;
	/* disposition verticale : les articles les uns en dessous des autres */
}

#contenu_principal>section article {
	background-color: white;
	/* les articles sur fond blanc */
	margin-bottom: 1em;
	/* marge entre articles */
	padding: 1em;
	/* marge intérieure */
	border: 2px solid #34495e;
	/* bordure */
	border-radius: 5px;
	/* bordure arrondie */
	box-shadow: 10px 10px 5px 0px #656565;
	/* bordure avec ombre */
	overflow: auto;
	/* le contenu (l'image flottante entre autres) ne dépasse pas le contenant */
}

#contenu_principal>section article:last-child {
	/* pour le dernier article, pas de marge en bas */
	margin-bottom: 0em;
	/* marge entre articles */
}

#contenu_principal>section h3 {
	width: auto;
	padding: 1em;
}

#contenu_principal>section p {
	width: auto;
	padding: 1em;
}

#contenu_principal>section article video,
#contenu_principal>section article img {
	float: left;
	/* l'image à gauche avec le texte autour */
	width: 10%;
	/* taille par défaut */
	min-width: 120px;
	margin: 0 1em 1em 0;
	/* marge à droite et en bas de l'image pour que le texte ne soit pas collée */
}

#contenu_principal>aside {
	/* le aside directement enfant de contenu_principal */
	order: 999;
	/* permet de garantir que le aside soit en dernier même si le aside n'est pas en dernier dans l'ordre de décalration du html   */
	flex: 0 0 10vw;
	/* le menu a une largeur fixe de 10% de la largeur de la page */
	min-width: 12em;
	color: #ecf0f1;
	text-align: center;
	background-color: #2c3e50;
	margin: 1em;
	padding: 1em;
	border: 2px solid white;
	/* bordure */
	border-radius: 5px;
	/* bordure arrondie */
	box-shadow: 10px 10px 5px 0px #656565;
	/* bordure avec ombre */
}

/* =-=-= Pour le pied =-=-= */

footer {
	padding: 1em;
	color: #ecf0f1;
	background-color: #7f8c8d;
	text-align: center;
}