body {
  font-family: 'Calibri', sans-serif;
  background-color: #efe6dd;
  color: #181818;
  height:100vh;
}

header {
  text-align: center;
  background-color: #1abc9c;
}

nav {
  float: left;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #c0392b;
  min-height: 100vh;
  width: 10%;
}

section {
  float: left;
  min-height: 100vh;
  width: 70%;
}

section article {
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #2980b9;
  border-radius: 20px 20px 20px 20px;
}

section article h3 {
  color: #8e44ad;
}

section article video {}

section article img {
  width: auto;
  height: 60px;
}

section article p {}

aside {
  float: right;
  min-height: 100vh;
  width: 10%;
padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #c0392b;}

aside h1 {}

aside p {}

footer {float: left;
width: 100%;}

footer p {}

footer a {}