/* html, body{
height : 100%;
}
#main{
height : 100%;
width : auto;
}
 
#colone gauche{
height : 100%;
width : 9px;
float : left;
}
 
#centrale{
height : auto;
float : left;
}
 
#colone droite{
height : 100%;
width : 9px;
float : left;
} */

/* https://openclassrooms.com/forum/sujet/div-prend-toute-la-hauteur-54908 */

/* https://www.w3schools.com/css/css_float.asp */

body {
  font-family: 'Calibri', sans-serif;
  background-color: #efe6dd;
  color: #181818;
  height: 100vh;
}

header {
  background-color: #1abc9c;
  overflow: auto;
  display: flex;
}

header img {
  float: left;
}

header h1 {
  float: left;
  text-align: center;
  vertical-align: middle;
  border-width: 2px;
  border-style: solid;
  border-color: #c0392b;
  width: 100%;
}

header h2 {
  float: right;
  text-align: center;
  vertical-align: middle;
  border-width: 2px;
  border-style: solid;
  border-color: #c0392b;
  width: 100%;
}

nav {
  float: left;
  padding: 5px;
  margin: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #c0392b;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px #656565;
  min-height: 100vh;
  width: 11%;
}

section {
  float: left;
  min-height: 100vh;
  width: 74%;
}

section article {
  padding: 5px;
  margin: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #2980b9;
/*   display: flex; */
  /*   border-radius: 10px;
  box-shadow: 10px 10px 5px 0px #656565;
  */
  /*   border-radius: 20px 20px 20px 20px;
	box-shadow: 5px 5px 4px 4px #000000; */
  /*   -moz-box-shadow: 10px 10px 5px 0px #656565;
  -webkit-box-shadow: 10px 10px 5px 0px #656565;
  -o-box-shadow: 10px 10px 5px 0px #656565;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; */
}

section article h3 {
  color: #8e44ad;
}

section article video {}

section article img {
  width: auto;
  height: 60px;
}

section article p {}

aside {
  float: left;
  padding: 5px;
  margin: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #c0392b;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px #656565;
  min-height: 100vh;
  width: 11%;
}

aside h1 {}

aside p {}

footer {
  Float: left;
  text-align: center;
  background-color: #1abc9c;
  width: 100%;
}

footer p {}

footer a {}