body {
  background-color: lightblue;
  margin : 0;
}

header {
  background-color: rgb(52, 152, 219);
  color:white;
  text-align : center;
  padding: 1em;
}

header h1 {
  font-size : 3em;
}

header h2 {
  font-size : 2em;
}

nav {
  float:left;
  width: 10%;
}

section {
  padding:1em;
  margin-left:10%;
  background-color:white;
}

article {
  margin : 1em;
  border: 2px solid red;
  border-radius: 25px;
}

section img, section video {
  width: 30%;
  height: auto;
}